body {
            margin: 0;
            font-family: "Afacad Flux";
        }

        .container {
            display: flex;
            height: 100vh;
        }

        /* Left side (logo + background) */
        .left {
            flex: 1;
            background: #E18E11;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 2.5rem;
            font-weight: bold;
        }

        /* Right side (sign up) */
        .right {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }

        .signup-box {
            width: 80%;
            max-width: 350px;
        }

        .signup-box h2 {
            margin-bottom: 20px;
        }

        input {
            width: 100%;
            padding: 12px;
            margin-top: 10px;
            border-radius: 6px;
            border: 1px solid #ccc;
        }

        button {
            width: 100%;
            margin-top: 20px;
            padding: 12px;
            border: none;
            background: #663E1F;
            color: white;
            font-size: 16px;
            border-radius: 6px;
            cursor: pointer;
        }

        button:hover {
            background: #e5d595;
        }

        .message {
            margin-top: 15px;
            color: green;
            font-size: 14px;
            display: none;
        }

        /* Responsiveness */
        @media (max-width: 768px) {
            .container {
                flex-direction: column;
            }
            .left {
                height: 40vh;
                font-size: 2rem;
            }
            .right {
                height: 60vh;
            }
        }